/target/
/test-output/
/allure-results/
/wordReport/
/M012_UCC2020111223372017NL0007C1_0000000000000000000_WZMKTPLT
/Modificación potencia tarifa con CIE 2.0TD [SF ES DESKTOP].docx
/movimientosExtracto (1).xls
/movimientosExtracto (2).xls
/movimientosExtracto.xls
/Validación no modificable gestiones contratos de concesiones 2.0TD [SF EN IOS].docx
/Validación no modificable gestiones contratos de concesiones 2.0TD [SF ES DESKTOP].docx
/Validación no modificable gestiones contratos empleados 2.0TD [SF EN IOS].docx
/Validación no modificable gestiones contratos empleados 2.0TD [SF ES DESKTOP].docx
/Visualización detalle contrato Gas MR [SF ES DESKTOP].docx
/Visualización detalles de contrato 3.0TD [SF ES DESKTOP].docx
/Visualización detalles de histórico de contrato 2.0TD [SF ES DESKTOP].docx
/Visualización detalles de histórico de contrato 3.0TD [SF ES DESKTOP].docx
/Validación no modificable gestiones contratos de concesiones 2.0TD [SF EN IOS].docx
/Validación no modificable gestiones contratos de concesiones 2.0TD [SF ES DESKTOP].docx
/Validación no modificable gestiones contratos empleados 2.0TD [SF EN IOS].docx
/Validación no modificable gestiones contratos empleados 2.0TD [SF ES DESKTOP].docx
/Visualización detalle contrato Gas MR [SF ES DESKTOP].docx
/Visualización detalles de contrato 3.0TD [SF ES DESKTOP].docx
/Visualización detalles de histórico de contrato 2.0TD [SF ES DESKTOP].docx
/Visualización detalles de histórico de contrato 3.0TD [SF ES DESKTOP].docx
/Modificación potencia tarifa con CIE 2.0TD [SF ES DESKTOP].docx
